%h1.heading-xlarge
  Report no business on
  = @task.framework.short_name

%p
  By reporting no business you are confirming that you have
  no transactions to report on this framework for
  = @task.period_month
  = "/"
  = @task.period_year

.form-group
  = button_to 'Confirm', task_no_business_path(task_id: @task), class: 'button'

= link_to 'Back', tasks_path, class: 'link-back'
