- page_title "Confirm report no business for #{@task.reporting_period} on #{@task.framework.short_name}"

.govuk-grid-row
  .govuk-grid-column-full
    = link_to 'Back', tasks_path, { class: 'govuk-back-link', title: 'Back to your tasks' }

    %h1.govuk-heading-xl
      Report no business

    = render 'shared/task_signpost', task: @task, action: 'Report no business for'

    = render partial: 'shared/this_is_a_correction' if correction?

    %p
      By reporting no business you are confirming that you have no transactions
      to report on this framework.

.govuk-grid-row
  .govuk-grid-column-two-thirds

    .govuk-form-group
      = form_tag(task_no_business_path(task_id: @task, correction: params[:correction])) do
        = submit_tag 'Confirm no business', data: { 'prevent-double-click': true }, class: 'govuk-button'
