- page_title 'Unique reference number lookup'

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Unique Reference Number (URN) Lookup
.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p
      You will be asked to supply a unique reference number for each of the
      customers in your uploaded files. If you do not know the relevant customer
      URN, you can look it up in this Excel file:

    %p
      - if @urn_list.present?
        = link_to "Download #{@urn_list.filename}", download_urns_path
        = surround '(', ')' do
          = number_to_human_size(@urn_list.byte_size)
      - else
        = link_to 'Download CCS URN List (27 March 2019).xls',
          '/urn/CCS-URN-List-(27-March-2019).xls'
        (12MB)

    %p
      Open this file in Microsoft Excel and use the 'find' tool within Excel to
      locate the relevant customer.

    %p
      If you're doing business with a customer who is not on the URN list, you can submit a request to CCS to have them added.
      Please complete the
      = link_to('add organisation request form', "https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/473261/Add_organisation_request_form_V2.0.xls")
      (MS Excel Spreadsheet, 40KB) and email to
      = link_to('supplier@crowncommercial.gov.uk', "mailto:supplier@crowncommercial.gov.uk")
