- case submission.status
- when 'validation_failed', 'ingest_failed', 'management_charge_calculation_failed'
    = link_to 'View and correct errors', task_submission_path(task_id: task.id, id: submission.id, correction: task.correcting?), {class: 'govuk-button govuk-button__secondary', 'aria-label' => "View and correct the errors on #{task.framework.short_name} for #{task.reporting_period}"}
- when 'in_review'
    = link_to 'Review and submit', task_submission_path(task_id: task.id, id: submission.id), {class: 'govuk-button', 'aria-label' => "Review and submit the management information on #{task.framework.short_name} for #{task.reporting_period}"}
