%section.ccs-task{id: "task-#{task.id}"}
  %header.ccs-task__information
    .ccs-task__body
      %h3.govuk-heading-m
        = task.framework.short_name
        = task.framework.name
      %h4.govuk-heading-s
        Report management information for
        = task_month(task)
      %p
        Due
        = task_due_date(task)
  .ccs-task__action
    .ccs-task__action--primary
      - case task.status
      - when 'in_progress'
        = render 'submission_buttons', task: task, submission: task.latest_submission
      - when 'unstarted'
        = link_to 'Report management information', new_task_submission_path(task_id: task.id), class: 'govuk-button'
        = link_to 'Report no business (Nil return)', new_task_no_business_path(task_id: task.id), class: 'govuk-button'
    .ccs-task__action--secondary
      %p
        = link_to 'Download template', framework_template_path_for(task)
