.grid-row.task-row
  .column-one-third.task-details
    %h3.heading-medium
      = task.description
    %p
      Complete by 
      = task.due_on
  .column-two-thirds.task-controls
    = link_to 'Download template', '#', class: 'button button-secondary'
    = link_to 'Upload submission', new_task_submission_path(task_id: task.id), class: 'button'
    = link_to 'Submit nil return', new_task_submission_path(task_id: task.id, type: 'nil_return'), class: 'button'