- page_title "#{@task.framework.short_name} #{@task.framework.name} for #{@task.reporting_period} Correction "

.govuk-grid-row
  .govuk-grid-column-full
    = link_to 'Back', history_tasks_path, { class: 'govuk-back-link', title: 'Back to your task history' }

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Correction
.govuk-grid-row
  .govuk-grid-column-two-thirds
    %dl.govuk-summary-list.govuk-summary-list--no-border
      .govuk-summary-list__row
        %dt.govuk-summary-list__key
          Framework
        %dd.govuk-summary-list__value
          = @task.framework.short_name
          = @task.framework.name

      .govuk-summary-list__row
        %dt.govuk-summary-list__key
          Month
        %dd.govuk-summary-list__value
          = @task.reporting_period

      - if current_user.multiple_suppliers?
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Supplier
          %dd.govuk-summary-list__value
            = @task.supplier_name

    %p
      You will need to pay the management charge from the incorrect return unless a successful corrected return is made.

.govuk-grid-row
  .govuk-grid-column-full

    %hr.govuk-section-break.govuk-section-break--l

    = link_to 'Correct this return', new_task_submission_path(@task, correction: true), class: ['govuk-button', 'govuk-!-margin-right-6']
    - unless @submission.report_no_business?
      = link_to 'Report no business', new_task_no_business_path(@task, correction: true), class: 'govuk-button'
.govuk-grid-row
  .govuk-grid-column-full
    %hr.govuk-section-break.govuk-section-break--l.govuk-section-break--visible
.govuk-grid-row
  .govuk-grid-column-full
    %h2.govuk-heading-l
      Incorrect return

- if @submission.report_no_business?
  .govuk-grid-row
    .govuk-grid-column-full
      %p.ccs-return.ccs-return--no-business
        You reported no business
- else
  .govuk-grid-row
    .govuk-grid-column-three-quarters
      %dl.govuk-summary-list.govuk-summary-list--no-border
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Reported
          %dd.govuk-summary-list__value
            = @task.completed_at
        - if @submission.purchase_order_number.present?
          .govuk-summary-list__row
            %dt.govuk-summary-list__key
              Purchase order number
            %dd.govuk-summary-list__value
              = @submission.purchase_order_number
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Filename
          %dd.govuk-summary-list__value
            = link_to(@file.filename, download_task_submission_path(@task, @submission))


  .govuk-grid-row
    .govuk-grid-column-full
      = render(partial: 'shared/submission_table', object: @submission, as: 'submission')

.govuk-grid-row
  .govuk-grid-column-full
    = link_to 'Back', history_tasks_path, { class: 'govuk-back-link', title: 'Back to your task history' }
