- page_title 'Completed tasks'

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Completed tasks

- if @tasks.blank?
  %p You have no completed tasks yet.
- else
  = form_tag(history_tasks_path, method: "get", enforce_utf8: false) do
    %p
      Sort by &nbsp
      = select_tag(:order_by, options_for_select(['Month (newest)', 'Month (oldest)'], :selected => params[:order_by]), 
        class: 'govuk-select', 
        data: { url: history_tasks_path, remote: :true, method: :get})
      %noscript
        = surround "&nbsp&nbsp".html_safe do
          = submit_tag "Change order", id: 'task-order-submit', data: { 'prevent-double-click': true }, class: 'govuk-button'

      .results{id: 'completed-tasks-table'}= render 'completed_tasks', tasks: @tasks

