- page_title 'Completed tasks'

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Completed tasks

- if @tasks.blank?
  %p You have no completed tasks yet.
- else
  %table.govuk-table
    %caption.govuk-table__caption.govuk-visually-hidden
      List of previously completed tasks
    %thead.govuk-table__head
      %tr.govuk-table__row
        %th.govuk-table__header{ scope: 'col' } Framework
        - if current_user.multiple_suppliers?
          %th.govuk-table__header{ scope: 'col' }
            Supplier
        %th.govuk-table__header{ scope: 'col' } Month
        %th.govuk-table__header{ scope: 'col' } Completed at
        %th.govuk-table__header{ scope: 'col' } Actions
    %tbody.govuk-table__body
      - @tasks.each do |task|
        %tr.govuk-table__row
          %th.govuk-table__header.ccs-report-table__cell{ scope: 'row' }
            = task.framework.short_name
            = task.framework.name
          - if current_user.multiple_suppliers?
            %td.govuk-table__cell.ccs-report-table__cell
              = task.supplier_name
          %td.govuk-table__cell.ccs-report-table__cell
            = task.reporting_period
          %td.govuk-table__cell.ccs-report-table__cell
            = task.completed_at || '-'
          %td.govuk-table__cell.ccs-report-table__cell
            = link_to 'View', task_path(task), { 'aria-label' => 'View submission on #{task.framework.short_name} for #{task.reporting_period}'}
