- page_title 'Completed tasks'

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Completed tasks

- if @tasks.blank?
  %p You have no completed tasks yet.
- else
  .govuk-grid-row
  = form_tag(history_tasks_path, method: :get, enforce_utf8: false, remote: :true) do
    .govuk-grid-column-one-third
      %p
        Select framework
      .govuk-checkboxes
        - @frameworks.zip(@framework_ids).each do |framework, framework_id|
          .govuk-checkboxes__item
            = check_box_tag('framework_id[]', framework , false,
              class: 'govuk-checkboxes',
              value: framework_id)
            = label_tag 'framework', framework


    .govuk-grid-column-two-thirds  
      %p
        Sort by &nbsp
        = select_tag(:order_by, options_for_select(['Month (newest)', 'Month (oldest)']), 
          class: 'govuk-select')
      .results{id: 'completed-tasks-table'}= render 'completed_tasks', tasks: @tasks

      %noscript
        = surround "&nbsp&nbsp".html_safe do
          = submit_tag "Change order", id: 'task-order-submit', data: { 'prevent-double-click': true }, class: 'govuk-button'

.govuk-grid-row

:javascript
  var checkBoxes = document.querySelectorAll(".govuk-checkboxes");
  var orderSelect = document.querySelector('.govuk-select');
  var form = document.querySelector('form');

  orderSelect.addEventListener( 'change', function() {
    Rails.fire(form, 'submit');
  });
  
  for (const check of checkBoxes) {
    check.addEventListener( 'change', function() {
      Rails.fire(form, 'submit');
    });
  }
