%h2.heading-large
  = "Tasks for #{current_month}"

%table
  %thead
    %tr
      %th Description
      %th Deadline
  %tbody
    %tr
      %th
        = link_to t('.completed_return'), upload_task_path(id: temp_task_id)
        = ' or'
        = link_to t('.nil_return'), root_path
      %td 07 July 2018
