.govuk-grid-row
  .govuk-grid-column-full
    = link_to 'Back', history_tasks_path, { class: 'govuk-back-link', title: 'Back to your task history' }

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Task

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %dl.govuk-summary-list.govuk-summary-list--no-border
      .govuk-summary-list__row
        %dt.govuk-summary-list__key
          Framework
        %dd.govuk-summary-list__value
          = @task.framework.short_name
          = @task.framework.name

      .govuk-summary-list__row
        %dt.govuk-summary-list__key
          Month
        %dd.govuk-summary-list__value
          = @task.reporting_period

      .govuk-summary-list__row
        %dt.govuk-summary-list__key
          Reported
        %dd.govuk-summary-list__value
          = @task.completed_at

      - if current_user.multiple_suppliers?
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Supplier
          %dd.govuk-summary-list__value
            = @task.supplier_name

.govuk-grid-row
  .govuk-grid-column-full
    %h2.govuk-heading-m
      Submitted management information

    - if @submission.report_no_business?
      %p.ccs-return.ccs-return--no-business
        You reported no business
    - else
      %dl.govuk-summary-list.govuk-summary-list--no-border
        - if @submission.purchase_order_number.present?
          .govuk-summary-list__row
            %dt.govuk-summary-list__key
              Purchase order number
            %dd.govuk-summary-list__value
              = @submission.purchase_order_number

      %table.govuk-table
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header{ scope: 'col' } Filename
            %th.govuk-table__header.govuk-table__header--numeric{ scope: 'col' } Invoices
            %th.govuk-table__header.govuk-table__header--numeric{ scope: 'col' } Contracts
        %tbody.govuk-table__body
          %tr.govuk-table__row
            %td.govuk-table__cell
              = link_to(@file.filename, download_task_submission_path(@task, @submission))
            %td.govuk-table__cell.govuk-table__cell--numeric
              = pluralize(@submission.invoice_count, 'row')
            %td.govuk-table__cell.govuk-table__cell--numeric
              = pluralize(@submission.order_count, 'row')
          %tr.govuk-table__row
            %td.govuk-table__cell
            %td.govuk-table__cell.govuk-table__cell--numeric
              = number_to_currency(@submission.invoice_total_value, unit: '£')
            %td.govuk-table__cell.govuk-table__cell--numeric
              = number_to_currency(@submission.order_total_value, unit: '£')

    - if correction_returns_enabled?
      %h2.govuk-heading-m
        If this looks incorrect
      %p
        - if @submission.report_no_business?
          You can replace this return with a corrected one.
        - else
          You can replace this return with a corrected one or report no business.

      .govuk-grid-row
        .govuk-grid-column-full
          = link_to 'Correct this return', correct_task_path(@task), { class: 'govuk-button' }

.govuk-grid-row
  .govuk-grid-column-full
    = link_to 'Back', history_tasks_path, { class: 'govuk-back-link', title: 'Back to your task history' }
