- page_title "#{@task.framework.short_name} #{@task.framework.name} for #{@task.reporting_period}"


.govuk-grid-row
  .govuk-grid-column-full
    = link_to 'Back', history_tasks_path, { class: 'govuk-back-link', title: 'Back to your task history' }

    %h1.govuk-heading-xl
      = @task.framework.short_name
      = @task.framework.name
      for
      = @task.reporting_period

.govuk-grid-row
  .govuk-grid-column-one-half
    %dl.govuk-summary-list.govuk-summary-list--no-border
      .govuk-summary-list__row
        %dt.govuk-summary-list__key
          Reported
        %dd.govuk-summary-list__value
          = @task.completed_at || '-'

      - if current_user.multiple_suppliers?
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Supplier
          %dd.govuk-summary-list__value
            = @task.supplier_name

      - if @submission.purchase_order_number.present?
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Purchase order number
          %dd.govuk-summary-list__value
            = @submission.purchase_order_number

      - if !@submission.report_no_business?
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Filename
          %dd.govuk-summary-list__value
            = link_to(@file.filename, download_task_submission_path(@task, @submission))

    - if @submission.report_no_business?
      %p.ccs-return.ccs-return--no-business
        You reported no business
    - else
      = render(partial: 'shared/submission_table', object: @submission, as: 'submission')

- if correction_returns_enabled?
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h2.govuk-heading-m
        If this looks incorrect
      %p
        - if @submission.report_no_business?
          You can replace this return with a corrected one.
        - else
          You can replace this return with a corrected one or report no business.

      = link_to 'Correct this return', correct_task_path(@task), { class: 'govuk-button' }

.govuk-grid-row
  .govuk-grid-column-full
    = link_to 'Back', history_tasks_path, { class: 'govuk-back-link', title: 'Back to your task history' }
