%nav#proposition-menu
  %a#proposition-name{ href: '/' } Report management information to CCS
  %ul#proposition-links
    - if current_user
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Tasks', tasks_path
      %li
        = link_to 'Tools', '/tools'
      %li
        = link_to "Sign out #{current_user.email}", '/sign_out'
    - else
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Sign in', '/auth/auth0'

