- page_title 'Cookie settings'

#cookie-settings-saved.govuk-grid-row{hidden: ""}
  .govuk-notification-banner.govuk-notification-banner--success{"aria-labelledby" => "govuk-notification-banner-title", "data-module" => "govuk-notification-banner", role: "alert"}
    .govuk-notification-banner__header
      %h2#govuk-notification-banner-title.govuk-notification-banner__title
        Success
    .govuk-notification-banner__content
      %p.govuk-notification-banner__heading
        You’ve set your cookie preferences.
        = link_to "Go back to the page you were looking at.", request.referer.present? ? request.referer : tasks_path, class: "govuk-notification-banner__link"

%noscript
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      .ccs-in-service-alert.ccs-in-service-alert--warning{role: "alert", tabindex: "-1"} 
        %p.govuk-body 
          We cannot change your cookie settings at the moment because JavaScript is not running in your browser. To fix this, try:
        %ul.govuk-list.govuk-list--bullet
          %li turning on JavaScript in your browser settings
          %li reloading this page
          
.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Cookie settings

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p{class: 'govuk-body-l'}
      Cookies are files saved on your phone, tablet or computer when you visit a website. 
      We use cookies to store information about how you use the Report Management Information 
      website, such as the pages you visit.

    .govuk-form-group
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--m
        %span#usage-hint
          %h3.govuk-heading-m
            Cookies that measure website use
          %p
            We use Google Analytics to measure how you use the website so we can improve it based 
            on user needs. Google Analytics sets cookies that store anonymised information about:
          %ul{ :class => 'govuk-list govuk-list--bullet' }
            %li
              how you got to the site
            %li
              the pages you visit and how long you spend on each page
            %li
              what you click on while you're visiting the site
          %p
            We do not allow Google to use or share the data about how you use this site.

        .govuk-radios.govuk-radios--inline
          .govuk-radios__item
            = radio_button_tag :ga_cookie_usage, true, cookies[:rmi_google_analytics_enabled] == 'true', class: 'govuk-radios__input'
            = label_tag :ga_cookie_usage, 'On', for: :ga_cookie_usage_true, class: 'govuk-label govuk-radios__label'
          .govuk-radios__item
            = radio_button_tag :ga_cookie_usage, false, cookies[:rmi_google_analytics_enabled] != 'true', class: 'govuk-radios__input'
            = label_tag :ga_cookie_usage, 'Off', for: :ga_cookie_usage_false, class: 'govuk-label govuk-radios__label'

    %hr.govuk-section-break.govuk-section-break--s

    .govuk-form-group
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--m
        %span#usage-hint
          %h3.govuk-heading-m
            Strictly necessary cookies
          %p
            These essential cookies do things like:
          %ul{ :class => 'govuk-list govuk-list--bullet' }
            %li
              remember the notifications you've seen so we do not show them to you again
            %li
              remember your progress through a form
            %p
              They always need to be on.

      %p
        = link_to 'Find out more about cookies on RMI', cookie_policy_path
    
    = button_tag 'Save changes', class: 'govuk-button', id: 'save-cookie-settings-button'
