.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Report management information to CCS

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p
      Use this service to report on the following frameworks:

    %ul.govuk-list.govuk-list--bullet
      %li RM3756 Rail Legal Services
      %li RM3786 General Legal Services
      %li RM3787 Finance & Complex Legal Services

    %p
      If you are reporting on any other framework, use the existing MISO service -
      = link_to 'https://miso.ccs.cabinetoffice.gov.uk/', 'https://miso.ccs.cabinetoffice.gov.uk/'

    %h2.govuk-heading-m
      Before you start
    %p
      You will need your new account details. You should have received these details via email.
    %p
      = succeed '.' do
        If you are unable to sign in or have not received any account details, please contact support at
        = mail_to support_email_address
    %p
      = link_to 'Sign in', '/auth/auth0'
      to get the template for your framework(s) and to report your management information.

    = link_to 'Sign in', '/auth/auth0', class: 'govuk-button', id: 'sign-in'

    %p
      If you didn’t do any business, you still need to sign in and let us know.
