.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Report management information to CCS

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p
      Use this service to:

    %ul{ :class => 'govuk-list govuk-list--bullet' }
      %li
        get the template for your framework(s)
      %li
        report your management information to CCS for a
        = link_to('selection of frameworks', '/support/frameworks', 'aria-label' => "List of frameworks reporting management information to CCS")

      %li
        report no business to CCS
    %p
      If you didn’t do any business, you still need to sign in and let us know.

    %h2.govuk-heading-m
      Before you sign in

    %h3.govuk-heading-s
      Your account

    %p
      You’ll need your username and password to sign in to this service.

    %p
      Your username is the email address that Report Management Information sends notifications to.

    %p
      If you don’t know or have forgotten your password you can reset it by starting the service and choosing ‘Don't remember your password?’ from the sign in screen.

    %p
      If you are unable to sign in or do not receive a password reset email from the service contact report-mi@crowncommercial.gov.uk. 
      %br
      = succeed '.' do
        = mail_to(support_email_address, 'Email sign in support')

    %h3.govuk-heading-s
      Check which service to report to
    %p
      Check the lists of frameworks that should be submitted through this service: 
      %br
      = succeed '.' do
        = link_to('List of frameworks submitted through this service', '/support/frameworks')

    %p
      For frameworks not listed, use the existing MISO service: 
      %br
      = succeed '.' do
        = link_to('MISO service for frameworks not listed', 'https://miso.ccs.cabinetoffice.gov.uk/')


    %p
      If you are unsure about which service to use email 
      %br
      report-mi@crowncommercial.gov.uk.
      %br
      = succeed '.' do
        = mail_to(support_email_address, 'Email service support')

    %p
      %br
      = link_to 'Sign in', '/auth/auth0', class: 'govuk-button govuk-button--start', id: 'sign-in', 'aria-label' => "Sign in to the service"
