.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Report management information to CCS

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p
      Use this service to report on the following frameworks:

    %ul.govuk-list.govuk-list--bullet
      %li RM3756 Rail Legal Services
      %li RM3786 General Legal Services
      %li RM3787 Finance & Complex Legal Services
      %li RM807 Vehicle Hire
      %li RM849 Laundry and Linen Services
      %li RM858 Pan Government Vehicle Leasing and Fleet Outsource Solutions
      %li RM1031 Laundry and Linen Services
      %li RM1070 Vehicle Purchase
      %li RM3710 Vehicle Lease and Fleet Management
      %li RM3754 Vehicle Telematics
      %li RM3767 Supply and Fit of Tyres
      %li RM3772 Specialist Laundry Services
      %li RM3797 Journal Subscriptions
      %li CM/OSG/05/3565 Laundry Services Wave 2

    %p
      If you are reporting on any other framework, use the existing MISO service -
      = link_to 'https://miso.ccs.cabinetoffice.gov.uk/', 'https://miso.ccs.cabinetoffice.gov.uk/'

    %h2.govuk-heading-m
      Before you start
    %p
      You should have received instructions on how to sign in for the first time by email.
    %p
      = succeed '.' do
        If you are unable to sign in or have not received any email from us, please contact support at
        = mail_to support_email_address
    %p
      = link_to 'Sign in', '/auth/auth0'
      to get the template for your framework(s) and to report your management information.

    = link_to 'Sign in', '/auth/auth0', class: 'govuk-button', id: 'sign-in'

    %p
      If you didn’t do any business, you still need to sign in and let us know.
