- page_title 'Report no business for 2 or more tasks'

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Report no business for 2 or more tasks

    = form_tag(bulk_confirm_submissions_path, method: :post, enforce_utf8: false) do
      .govuk-form-group
        %fieldset.govuk-fieldset{"aria-describedby" => "unstarted-tasks-hint"}
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
            %h1.govuk-fieldset__heading
              What tasks do you want to report no business for?
          #unstarted-tasks-hint.govuk-hint
            Select at least one option.
          #select-deselect-link{ class: 'govuk-!-margin-bottom-4' }
            = link_to 'Select/Deselect all tasks', '#', id: 'toggle_select'
          .govuk-checkboxes{"data-module" => "govuk-checkboxes"}
            - @suppliers_and_tasks.each do |supplier|
              - if current_user.multiple_suppliers?
                %h2.govuk-heading-m{ class: 'govuk-!-margin-top-7' }
                  = supplier.name
              - supplier.tasks.each do |task|
                .govuk-checkboxes__item
                  = check_box_tag('task_ids[]', task.id, false,
                    id: "task_id_#{task.id}",
                    class: 'govuk-checkboxes__input')
                  = label_tag "task_id_#{task.id}", "#{task.framework.name} (#{task.framework.short_name}) for #{task.reporting_period}", class: 'govuk-checkboxes__label'
      = submit_tag 'Report no business', data: { 'prevent-double-click': true }, class: 'govuk-button'
