- page_title 'Confirm no business for 2 or more tasks'

.govuk-grid-row
  .govuk-grid-column-full
    = form_tag(bulk_new_submissions_path, method: :post) do
      - (params[:task_ids] || []).each do |task_id|
        = hidden_field_tag "selected_tasks[]", task_id
          
      %button.govuk-back-link{type: "submit"} Back

    %h1.govuk-heading-xl{class: 'govuk-!-margin-bottom-3'}
      Report no business
    %p{class: 'govuk-!-margin-bottom-3'}
      By reporting no business you are confirming that you have no transactions to report for these tasks.

    = form_tag(bulk_create_submissions_path, method: :post, enforce_utf8: false) do
      - @selected_tasks.each do |supplier|
        - if current_user.multiple_suppliers?
          %h2.govuk-heading-m{class: 'govuk-!-margin-top-7'}
            = supplier.name
        - supplier.tasks.each do |task|
          %p 
            = "#{task.framework.name} (#{task.framework.short_name}) for #{task.reporting_period}"
            = hidden_field_tag 'task_ids[]', task['id']
      %p{class: 'govuk-!-margin-top-7'}
        = submit_tag 'Confirm no business', data: { 'prevent-double-click': true }, class: 'govuk-button'
        = link_to 'Cancel and start again', tasks_path, class: 'govuk-!-margin-left-2 govuk-!-font-size-19'
      

      