- if @submission.report_no_business?
  - page_title "Task complete: Report no business for #{@task.reporting_period} on #{@task.framework.short_name} "
- else
  - page_title "Task complete: Report management information for #{@task.reporting_period} on #{@task.framework.short_name}"

.govuk-grid-row
  .govuk-grid-column-full
    .govuk-panel.govuk-panel--confirmation
      %h1.govuk-panel__title
        Task complete

      = render partial: 'shared/this_is_a_correction' if correction?

      .govuk-panel__body
        - if @submission.report_no_business?
          Thank you for reporting no business for
        - else
          Thank you for reporting your management information for
        = @task.reporting_period

.govuk-grid-row
  .govuk-grid-column-three-quarters
    %dl.govuk-summary-list.govuk-summary-list--no-border
      .govuk-summary-list__row
        %dt.govuk-summary-list__key
          Framework
        %dd.govuk-summary-list__value
          = @task.framework.short_name
          = @task.framework.name

      .govuk-summary-list__row
        %dt.govuk-summary-list__key
          Month
        %dd.govuk-summary-list__value
          = @task.reporting_period

      - if current_user.multiple_suppliers?
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Supplier
          %dd.govuk-summary-list__value
            = @task.supplier_name

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h2.govuk-heading-m
      What happens next
    %p
      We will contact you if we need more information about what you have told us.
    %p
      If you’ve made a mistake or need to amend the management information 
      you’ve supplied, #{link_to 'correct this return', correct_task_path(@task)}.
    %p
      = link_to 'View your tasks', tasks_path
      to make another report.

= render 'customer_effort_score'
