- if @submission.report_no_business?
  - page_title "Task complete: Report no business for #{@task.reporting_period} on #{@task.framework.short_name} "
- else
  - page_title "Task complete: Report management information for #{@task.reporting_period} on #{@task.framework.short_name}"

.govuk-grid-row
  .govuk-grid-column-full
    .govuk-panel.govuk-panel--confirmation
      %h1.govuk-panel__title
        Task complete

      = render partial: 'shared/this_is_a_correction' if correction?

      .govuk-panel__body
        - if @submission.report_no_business?
          Thank you for reporting no business for
        - else
          Thank you for reporting your management information for
        = @task.reporting_period

.govuk-grid-row
  .govuk-grid-column-three-quarters
    %dl.govuk-summary-list.govuk-summary-list--no-border
      .govuk-summary-list__row
        %dt.govuk-summary-list__key
          Framework
        %dd.govuk-summary-list__value
          = @task.framework.short_name
          = @task.framework.name

      .govuk-summary-list__row
        %dt.govuk-summary-list__key
          Month
        %dd.govuk-summary-list__value
          = @task.reporting_period

      - if current_user.multiple_suppliers?
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Supplier
          %dd.govuk-summary-list__value
            = @task.supplier_name

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h2.govuk-heading-m
      What happens next
    %p
      We will contact you if we need more information about what you have told us.
    %p
      If you’ve made a mistake or need to amend the management information
      you’ve supplied, email
      = mail_to support_email_address
      for help.
    %p
      = link_to 'View your tasks', tasks_path
      to make another report.

.govuk-grid-row
  .govuk-grid-column-two-thirds
    .govuk-form-group{id: 'feedback-form', class: 'govuk-!-margin-top-7'}
      = form_tag(customer_effort_score_path, method: :post) do
        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
            %h2.govuk-heading-m
              Overall how easy was it to use this service today?
          .govuk-radios{"data-module" => "govuk-radios"}
            .govuk-radios__item
              %input#customer-satisfaction.govuk-radios__input{name: "customer_satisfaction", type: "radio", value: "Very easy"}/
              %label.govuk-label.govuk-radios__label{for: "customer-satisfaction"}
                Very easy
            .govuk-radios__item
              %input#customer-satisfaction-2.govuk-radios__input{name: "customer_satisfaction", type: "radio", value: "Easy"}/
              %label.govuk-label.govuk-radios__label{for: "customer-satisfaction-2"}
                Easy
            .govuk-radios__item
              %input#customer-satisfaction-3.govuk-radios__input{name: "customer_satisfaction", type: "radio", value: "Neither easy or hard"}/
              %label.govuk-label.govuk-radios__label{for: "customer-satisfaction-3"}
                Neither easy or difficult
            .govuk-radios__item
              %input#customer-satisfaction-4.govuk-radios__input{name: "customer_satisfaction", type: "radio", value: "Hard"}/
              %label.govuk-label.govuk-radios__label{for: "customer-satisfaction-4"}
                Difficult
            .govuk-radios__item
              %input#customer-satisfaction-5.govuk-radios__input{name: "customer_satisfaction", type: "radio", value: "Very hard"}/
              %label.govuk-label.govuk-radios__label{for: "customer-satisfaction-4"}
                Very difficult

        .govuk-character-count{"data-maxlength" => "2000", "data-module" => "govuk-character-count"}
          %h2.govuk-label-wrapper{class: 'govuk-!-margin-top-7'}
            %label.govuk-label.govuk-label--m{for: "more-detail"}
              How could we improve this service?
          #more-detail-hint.govuk-hint
            Don't include personal or financial information.
          %textarea#with-hint.govuk-textarea.govuk-js-character-count{"aria-describedby" => "more-detail-hint", name: "more_detail", rows: "5"}
          #with-hint-info.govuk-hint.govuk-character-count__message.govuk-character-count__status
            You can enter up to 2000 characters

        = submit_tag 'Send feedback', data: { 'prevent-double-click': true }, class: 'govuk-button'
