- if @submission.report_no_business?
  - page_title "Task complete: Report no business for #{@task.reporting_period} on #{@task.framework.short_name} "
- else
  - page_title "Task complete: Report management information for #{@task.reporting_period} on #{@task.framework.short_name}"

= render partial: 'shared/this_is_a_correction' if correction?

.govuk-grid-row
  .govuk-grid-column-two-thirds
    .govuk-panel.govuk-panel--confirmation
      %h1.govuk-panel__title
        Task complete
      .govuk-panel__body
        - if @submission.report_no_business?
          Thank you for reporting no business for
        - else
          Thank you for reporting your management information for
        = @task.reporting_period
    - if current_user.multiple_suppliers?
      %h3.govuk-heading-s
        Supplier
      %p
        = @task.supplier_name
    %h3.govuk-heading-s
      Framework
    %p
      = @task.framework.short_name
      = @task.framework.name
    %h2.govuk-heading-m
      What happens next
    %p
      We will contact you if we need more information about what you have told us.
    %p
      If you’ve made a mistake or need to amend the management information
      you’ve supplied, email
      = mail_to(support_email_address)
      for help.
    %p
      = link_to 'Home', tasks_path, class: 'button'
