%h1.heading-xlarge
  Upload processed

- if @submission.errored_entries.any?

  .error-summary{ :role=>"alert", :aria-labelledby=>"error-summary-heading", :tabindex=>"-1"}
    %h2.heading-medium.error-summary-heading
      There are errors in your submission

    %p
      You will need to correct the errors in your submission file and resubmit.
    %p
      The errors are listed below.

  = link_to 'Back', new_task_submission_path(@task.id), class: 'link-back'

  =render 'shared/error_table', errored_entries: @submission.errored_entries

- else

  %p
    Your management information for
    = @task.id
    is now ready to be submitted.

  .notice
    %i.icon.icon-important
      %span.visually-hidden
        Warning
    %strong.bold-small
      Your submission is not complete at this stage. Please review the following:

  %p
    Your uploaded submission file contains:

  .data#orders
    %span.data-item.bold-xsmall
      Orders
    %span.data-item.bold-xlarge
      = @submission.orders_count
    %span.bold-xsmall
      rows

  .data#invoices
    %span.data-item.bold-xsmall
      Invoices
    %span.data-item.bold-xlarge
      = @submission.invoices_count
    %span.bold-xsmall
      rows

  %p
    Based upon this, your levy for [July 2018] has been calculated as:

  .data#levy
    %span.data-item.bold-xlarge
      = levy_as_string @submission.levy

    %p
      If everything looks correct please complete this submission.

    %p
      This submission is not completed until you have clicked this button:

  = form_tag(task_submission_review_path(task_id: @task.id, submission_id: @submission.id)) do
    .form-group
      = submit_tag 'Complete submission', class: 'button'

  %p
    If you believe there has been an error or this information looks incorrect, please review your submisson and resubmit.

  = link_to 'Back', new_task_submission_path(@task.id), class: 'link-back'
