- page_title "Review & submit: Report management information for #{@task.reporting_period} on #{@task.framework.short_name}"

.govuk-grid-row
  .govuk-grid-column-full
    = render 'shared/task_signpost', task: @task

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Review & submit

    = render partial: 'shared/this_is_a_correction' if correction?

.govuk-grid-row
  .govuk-grid-column-three-quarters
    %p
      Your file has been checked and is ready to submit.

    %dl.govuk-summary-list.govuk-summary-list--no-border
      - if @submission.purchase_order_number.present?
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Purchase order number
          %dd.govuk-summary-list__value
            = @submission.purchase_order_number
      .govuk-summary-list__row
        %dt.govuk-summary-list__key
          File
        %dd.govuk-summary-list__value
          = link_to(@file.filename, download_task_submission_path(@task, @submission))

.govuk-grid-row
  .govuk-grid-column-full
    = render(partial: 'shared/submission_table', object: @submission, as: 'submission')

.govuk-grid-row
  .govuk-grid-column-full
    = form_tag(task_submission_complete_path(task_id: @task.id, submission_id: @submission.id, correction: params[:correction]), method: :post) do
      .form-group
        = submit_tag 'Submit management information', class: 'govuk-button'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p
      If any of this management information looks incorrect, check the data in your spreadsheet and
      = succeed "." do
        = link_to 'start again', new_task_submission_path(@task.id, correction: params[:correction])
