.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      We were unable to process your file

    = render 'shared/task_signpost', task: @task

.govuk-grid-row
  .govuk-grid-column-two-thirds
    .govuk-error-summary{ :role=>"alert", :aria-labelledby=>"error-summary-heading", :tabindex=>"-1"}

      %p
        Please check that the file you are trying to upload is:

      %ul.govuk-list.govuk-list--bullet
        %li
          a completed
          = link_to "template", template_path(id: @task), {'aria-label' => "Download template for #{@task.framework.short_name} #{@task.framework.name}"}
          file for 
          = @task.framework.short_name
        %li
          in Excel format (.xls or .xlsx)

    = link_to 'Upload file', new_task_submission_path(@task.id, correction: params[:correction]), class: 'govuk-button'

    %p
      If your file is in the correct format but it is not being accepted please contact
      = mail_to support_email_address
      for help.
