- page_title "Report management information for #{@task.reporting_period} on #{@task.framework.short_name}"

.govuk-grid-row
  .govuk-grid-column-full
    = render 'shared/task_signpost', task: @task

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Report management information

    = render partial: 'shared/this_is_a_correction' if correction?

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h2.govuk-heading-l
      Upload a file
    %p
      Choose a file to upload
    %p
      Accepted file types are Microsoft Excel (.xls or .xlsx).
    %p
      You’ll be able to review a summary of the files before you submit.
    = form_tag(task_submissions_path(task_id: params[:task_id], correction: params[:correction]), multipart: true) do
      .govuk-form-group
        %label.govuk-label.govuk-visually-hidden{ :for => 'submission_file_upload' }
          Choose a file
        = file_field_tag 'upload', required: true, class: 'govuk-file-upload', id: 'submission_file_upload'
      %h2.govuk-heading-l
        Add a purchase order number
      %p
        You have the option of adding a purchase order number to this return, which will appear on your invoice.
      .govuk-form-group
        %label.govuk-label{ :for => 'purchase_order_number' }
          Purchase order number
        %span#purchase-order-number-hint.govuk-hint
          This field is optional.
        %input.govuk-input#purchase_order_number{ :type => 'text', :name => "purchase_order_number"}
      .govuk-form-group
        = submit_tag 'Upload and check file', data: { 'prevent-double-click': true }, class: 'govuk-button'
    %p
      Have no business to report?
      = link_to 'Report no business', new_task_no_business_path(task_id: @task.id), {'aria-label' => "Report no business for #{@task.supplier_name} on #{@task.framework.short_name}"}
