%table.govuk-table
  %tbody.govuk-table__body
  - @agreements.each do |agreement|
    %tr.govuk-table__row{ id: "agreement-#{agreement.id}" }
      %td.govuk-table__cell
        %h2.govuk-heading-m
          = agreement.framework.name
          = "(#{agreement.framework.short_name})"
        
        - if agreement.active
          %strong.govuk-tag.govuk-tag__active Active
        - else
          %strong.govuk-tag.govuk-tag__inactive Inactive

        %p
        - if current_user.multiple_suppliers?
          %h3.govuk-heading-s
            %span.govuk-visually-hidden
              Supplier:
            = agreement.supplier.name

        %p 
          = link_to 'Download template (excel document)', template_path(id: agreement.framework, agreements_page: true), data: {track: 'file_download', 'aria-label' => "Download excel document template for #{agreement.framework.short_name} #{agreement.framework.name}"}

        - agreement.relevant_lots.each do |lot|
          %p
            Lot #{lot[0]}: #{lot[1]}
