.grid-row
  .column-two-thirds
    .govuk-box-highlight
      %h1.heading-xlarge Return completed
      %p.font-large
        Your reference number is
        %br
        %strong.bold 124345
.grid-row
  .column-two-thirds
    %p= t('.message.para_1')
    %p
      We estimate that this will be
      %strong.bold
        £
        = @submission.levy

    %p= t('.message.para_2')
    %p= t('.message.para_3')

.form-group
  = link_to t('uploads.review.back'), tasks_path, class: 'button'

.form-group
= link_to 'Log out', sign_out_path, class: 'button'