.govuk-cookie-banner{"aria-label" => "Cookies on Report Management Information", role: "region"}
  .govuk-cookie-banner__message.govuk-width-container
    #cookie-options-container
      .govuk-grid-row
        .govuk-grid-column-two-thirds
          %h2.govuk-cookie-banner__heading.govuk-heading-m
            Cookies on Report Management Information
          .govuk-cookie-banner__content
            %p
              We use some essential cookies to make this website work.
            %p
              We’d like to set additional cookies so we can remember your settings, understand how people use the service and make improvements.
            %noscript
              .ccs-in-service-alert.ccs-in-service-alert--warning{role: "alert", tabindex: "-1"}
                %p 
                  Please enable Javascript in your browser settings to set your cookie preferences.
      .govuk-button-group
        = button_tag 'Accept additional cookies', class: 'govuk-button', id: 'accept-cookies', 'aria-label' => "Accept additional cookies"
        = button_tag 'Reject additional cookies', class: 'govuk-button', id: 'reject-cookies', 'aria-label' => "Reject additional cookies"
        = link_to 'View cookies', cookie_settings_path, class: 'govuk-link--no-visited-state'
    #cookies-accepted-container{hidden: ""}
      %p
        You’ve accepted analytics cookies. You can
        = link_to ' change your cookie settings ', cookie_settings_path, class: 'govuk-link--no-visited-state'
        at any time.
    #cookies-rejected-container{hidden: ""}
      %p
        You’ve rejected analytics cookies. You can 
        = link_to ' change your cookie settings ', cookie_settings_path, class: 'govuk-link--no-visited-state'
        at any time.