!!!
%html{ lang: 'en-GB' }
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title Report management information to CCS

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }/
    %meta{ 'http-equiv': 'x-ua-compatible', content: 'ie-edge' }/
    %meta{ name: 'format-detection', content: 'telephone=no' }/

    %link{ href: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600', rel: 'stylesheet' }/

    = content_for(:head)
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = render 'shared/analytics'

  %body.govuk-template__body.app-body-class
    %script
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

    #skiplink-container
      %div
        %a{ href: '#main-content', class: 'skiplink' }
          Skip to content

    = render 'components/header'
    .govuk-width-container
      %main{ role: 'main', id: 'main-content' }
        .phase-banner
          <strong class="phase-tag">BETA</strong>
          Please give us your <a href="https://www.surveymonkey.com/r/9QTDW9P">feedback</a> so we can improve this site

      = render 'shared/alert' if flash[:alert]

      = yield

    = render 'components/footer'
