!!!
%html{ lang: 'en-GB', class: 'govuk-template' }
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title Report management information to CCS

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }/
    %meta{ 'http-equiv': 'x-ua-compatible', content: 'ie-edge' }/
    %meta{ name: 'format-detection', content: 'telephone=no' }/

    = favicon_link_tag('govuk-frontend/govuk/assets/images/favicon.ico')
    = favicon_link_tag('govuk-frontend/govuk/assets/images/govuk-apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png')

    = content_for(:head)
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = render 'shared/tag_manager_head'

  %body.govuk-template__body.app-body-class{ data: { session_id: session.id } }
    = render 'shared/tag_manager' 
    %a{ href: '#main-content', class: 'govuk-skip-link' }
      Skip to main content

    = render 'layouts/cookie_banner' unless cookies[:rmi_cookie_settings_viewed] == 'true' || controller.action_name == 'cookie_settings'
    = render 'shared/header', no_navigation: false

    .govuk-width-container
      %main{ role: 'main', id: 'main-content', class: 'govuk-main-wrapper'}

        = render 'shared/alert' if flash[:alert]

        = yield

    = render 'shared/footer'
